#  **Pandas Assingment-4**

(Based on IPL matches and deliveries dataset)


Matches- <a>https://www.kaggle.com/nowke9/ipldata#matches.csv</a>


Deliveries- <a>https://www.kaggle.com/nowke9/ipldata#deliveries.csv<a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
match= pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries.csv')

In [100]:
#  Q1.- Make a pivot table of top 10 bowlers(in terms of wickets) with over(1-20) showing no. of wickets.  [Dificult-]

In [101]:
new=delivery.merge(match,left_on='match_id',right_on='id')
new.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN

In [102]:
new1=new.groupby('bowler')['win_by_wickets'].sum().sort_values(ascending=False).reset_index().head(10)
new1

            bowler  win_by_wickets
0        PP Chawla            9952
1          P Kumar            9803
2  Harbhajan Singh            8688
3         A Mishra            8319
4       SL Malinga            7917
5         R Ashwin            7571
6        SR Watson            7505
7         DW Steyn            7371
8        RA Jadeja            7137
9    R Vinay Kumar            6930

In [108]:
new2=new1.merge(new2,left_on='bowler',right_on='bowler')
new2

,bowler,win_by_wickets,win_by_wickets_x,win_by_wickets_y,win_by_wickets_x,win_by_wickets_y,match_id,inning,batting_team,bowling_team,...,dl_applied,winner,win_by_runs,win_by_wickets_x,player_of_match,venue,umpire1,umpire2,umpire3,win_by_wickets_y
0,PP Chawla,9952,9952,9952,9952,9952,3,1,Gujarat Lions,Kolkata Knight Riders,...,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,9952
1,PP Chawla,9952,9952,9952,9952,9952,3,1,Gujarat Lions,Kolkata Knight Riders,...,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,9952
2,PP Chawla,9952,9952,9952,9952,9952,3,1,Gujarat Lions,Kolkata Knight Riders,...,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,9952
3,PP Chawla,9952,9952,9952,9952,9952,3,1,Gujarat Lions,Kolkata Knight Riders,...,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,9952
4,PP Chawla,9952,9952,9952,9952,9952,3,1,Gujarat Lions,Kolkata Knight Riders,...,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,9952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24214,R Vinay Kumar,6930,6930,6930,6930,6930,630,2,Gujarat Lions,Mumbai Indians,...,0,Gujarat Lions,0,6,SK Raina,Green Park,AK Chaudhary,CK Nandan,NaN,6930
24215,R Vinay Kumar,6930,6930,6930,6930,6930,630,2,Gujarat Lions,Mumbai Indians,...,0,Gujarat Lions,0,6,SK Raina,Green Park,AK Chaudhary,CK Nandan,NaN,6930
24216,R Vinay Kumar,6930,6930,6930,6930,6930,630,2,Gujarat Lions,Mumbai Indians,...,0,Gujarat Lions,0,6,SK Raina,Green Park,AK Chaudhary,CK Nandan,NaN,6930
24217,R Vinay Kumar,6930,6930,6930,6930,6930,630,2,Gujarat Lions,Mumbai Indians,...,0,Gujarat Lions,0,6,SK Raina,Green Park,AK Chaudhary,CK Nandan,NaN,6930
24218,R Vinay Kumar,6930,6930,6930,6930,6930,630,2,Gujarat Lions,Mumbai Indians,...,0,Gujarat Lions,0,6,SK Raina,Green Park,AK Chaudhary,CK Nandan,NaN,6930

In [105]:
new2.pivot_table(index='bowler',columns='over',values='win_by_wickets',aggfunc='sum')

over,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
bowler,,,,,,,,,,,,,,,,,,,,
A Mishra,108147.0,58233.0,49914.0,257889.0,216294.0,349398.0,1763628.0,2179578.0,2262768.0,2420829.0,1963284.0,2271087.0,1314402.0,2137983.0,1297764.0,1697076.0,956685.0,732072.0,232932.0,216294.0
DW Steyn,2041767.0,1820637.0,1945944.0,1444716.0,744471.0,280098.0,184275.0,NaN,199017.0,235872.0,361179.0,324324.0,589680.0,641277.0,501228.0,759213.0,1024569.0,943488.0,1429974.0,442260.0
Harbhajan Singh,894864.0,373584.0,686352.0,1112064.0,677664.0,1086000.0,2224128.0,2832288.0,2580336.0,2701968.0,1789728.0,2693280.0,1164192.0,1876608.0,1033872.0,695040.0,695040.0,364896.0,373584.0,112944.0
P Kumar,5450468.0,588180.0,5274014.0,666604.0,3195778.0,921482.0,803846.0,352908.0,235272.0,176454.0,411726.0,303893.0,352908.0,352908.0,646998.0,1058724.0,950891.0,1254784.0,1490056.0,1362617.0
PP Chawla,NaN,139328.0,59712.0,119424.0,417984.0,855872.0,1980448.0,1930688.0,2816416.0,2647232.0,2816416.0,2239200.0,2279008.0,1751552.0,2517856.0,1283808.0,1015104.0,577216.0,189088.0,179136.0
R Ashwin,696532.0,234701.0,908520.0,870665.0,1203789.0,1582339.0,704103.0,1173505.0,885807.0,1385493.0,893378.0,1559626.0,1128079.0,885807.0,878236.0,1256786.0,681390.0,772242.0,45426.0,113565.0
R Vinay Kumar,422730.0,990990.0,457380.0,1358280.0,887040.0,1136520.0,928620.0,644490.0,609840.0,630630.0,297990.0,589050.0,644490.0,332640.0,381150.0,609840.0,762300.0,1018710.0,838530.0,1434510.0
RA Jadeja,92781.0,42822.0,42822.0,85644.0,142740.0,214110.0,1241838.0,735111.0,1577277.0,899262.0,1413126.0,999180.0,1199016.0,1056276.0,1434537.0,956358.0,949221.0,578097.0,185562.0,157014.0
SL Malinga,1456728.0,1733823.0,1361724.0,950040.0,1504230.0,1290471.0,142506.0,387933.0,158340.0,340431.0,498771.0,593775.0,1005459.0,870870.0,720447.0,1258803.0,1852578.0,1836744.0,2216760.0,1147965.0
SR Watson,285190.0,1260840.0,510340.0,1786190.0,697965.0,1493495.0,232655.0,727985.0,450300.0,292695.0,315210.0,547865.0,292695.0,645430.0,592895.0,525350.0,1140760.0,1005670.0,833055.0,1080720.0

In [0]:
# Q2.- Make a function for batting profile of any batsman:-                                              [Medium+]

Ex- 

V Kohli:

Innings:  

Total Runs: 

No. of MOM(Man of the match):

No. of boundries:

In [287]:
def batting_profile(batsman):
    merge=delivery.merge(match,left_on='match_id',right_on='id')
    No_of_inning=player['inning'].sum()
    print("innings:",No_of_inning)
    Total_Runs=player['batsman_runs'].sum()
    print("Total Runs:",Total_Runs)
    No_of_MOM=merge[merge['player_of_match']=='V Kohli'].shape[0]
    print("No. of MOM(Man of the match):",No_of_MOM)
    play=merge[merge['batsman']==batsman]
    mask1=play['batsman_runs']==6
    mask2=play['batsman_runs']==4
    No_of_Boundries=player[mask1 | mask2].shape[0]
    print("No. of boundries:",No_of_Boundries)

In [288]:
batting_profile('V Kohli')

innings: 5112
Total Runs: 4423
No. of MOM(Man of the match): 2347
No. of boundries: 544

## Q3.- Write a function to return top-4 batsman at a venue. Take venue as input.

In [192]:
def top_4_batsman(venue):
    new_data=match.merge(delivery,left_on='id',right_on='match_id')
    data=new_data[new_data['venue']==venue]
    return data.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).index[0:4]

In [193]:
top_4_batsman('Rajiv Gandhi International Stadium, Uppal')

Index(['DA Warner', 'S Dhawan', 'RG Sharma', 'MC Henriques'], dtype='object', name='batsman')

In [0]:
# Q4.- No. of matches per season played in Mumbai.

In [160]:
mat=match[match['city']=='Mumbai']
no_of_match=mat.groupby('season')['season'].count()
no_of_match

season
2008    10
2010    13
2011    16
2012     8
2013     8
2014     7
2015    11
2016     4
2017     8
Name: season, dtype: int64

In [0]:
# Q5. - Top-3 Player in terms of most no. of catches.

In [4]:
delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150460 entries, 0 to 150459
Data columns (total 21 columns):
match_id            150460 non-null int64
inning              150460 non-null int64
batting_team        150460 non-null object
bowling_team        150460 non-null object
over                150460 non-null int64
ball                150460 non-null int64
batsman             150460 non-null object
non_striker         150460 non-null object
bowler              150460 non-null object
is_super_over       150460 non-null int64
wide_runs           150460 non-null int64
bye_runs            150460 non-null int64
legbye_runs         150460 non-null int64
noball_runs         150460 non-null int64
penalty_runs        150460 non-null int64
batsman_runs        150460 non-null int64
extra_runs          150460 non-null int64
total_runs          150460 non-null int64
player_dismissed    7438 non-null object
dismissal_kind      7438 non-null object
fielder             5369 non-null object
dtypes: int64(13), object(8)
memory usage: 24.1+ MB

In [183]:
mask1=delivery[delivery['dismissal_kind']=='caught']
mask1['fielder']

11        Mandeep Singh
64          Sachin Baby
94          Sachin Baby
165           DA Warner
206        Yuvraj Singh
              ...
150309        SR Watson
150326        YS Chahal
150402     Bipul Sharma
150422     MC Henriques
150438     MC Henriques
Name: fielder, Length: 4373, dtype: object

In [179]:
mask2=delivery[delivery['dismissal_kind']=='caught and bowled']
mask2['bowler']

316            R Bhatia
783       Swapnil Singh
822            AR Patel
909         Imran Tahir
1204             P Negi
              ...
144213          B Kumar
146736        CJ Jordan
147449    Iqbal Abdulla
148850         DJ Bravo
149782    Kuldeep Yadav
Name: bowler, Length: 211, dtype: object